@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200;
}

.avatar-dropdown-fix {
  margin-left: 4px;
}
.avatar-dropdown-fix > * {
  position: relative;
  left: -4px;
}

.custom-link {
  position: relative;
}
.custom-link:hover::after {
  left: 0%;
  width: 100%;
  opacity: 1;
}
.custom-link::after {
  @apply absolute bg-black;

  content: "";
  bottom: -1px;
  height: 2px;
  transition: left 0.2s ease, opacity 0.2s ease, width 0.2s ease;
  width: 0%;
  opacity: 0;
}
.custom-link::after {
  right: 0%;
}

.home-screen-card {
  @apply flex h-96 w-full cursor-pointer flex-col items-center justify-center rounded-md bg-black shadow-md shadow-slate-700 transition hover:scale-105;
}
.game-rules-home-screen-card {
  background-image: url("../../public/game-rules.jpg");
  background-size: cover;
  background-position: center center;
}
